<div class="filter">
    <form>
        <div class="price">
            <label for="" class="title">Preço</label>
            <input type="number" placeholder="De" name="" id="">
            <input type="number" placeholder="Até">
        </div>

        <div class="size">
            <label for="" class="title">Tamanho</label>
            <input type="number" placeholder="">
        </div>

        <div class="seller">
            <label for="" class="title">Vendedor</label>
            <input type="text" name="" id="">
        </div>

        <div class="useCondition">
            <label for="" class="title">Condição de Uso</label>
            <div>
                <label for="used">Usado</label>
                <input type="checkbox" name="used" id="">
            </div>
            <div>
                <label for="new">Novo</label>
                <input type="checkbox" name="new" id="">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
    </form>
</div>
