.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    gap: 50px;
}
.description h4{
    font-size: 18px;
}
.description span{
    font-size: 15px;
}
.description .icons{
    display: flex;
    gap: 25px;
}
.bi{
    cursor: pointer;
}
.bi-heart-fill{
    color: red;
}
.bi-share{
    display: flex;
    gap: 7px;
    align-items: center;
    
}
.image{
    height: 300px;
}
.image img{
    width: 100%;
    height: 100%;
}
.priceSizeBuy, .description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.price h6{
    font-size: 13px;
}
.size, .cep{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.size span, .cep span{
    font-size: 12px;
}
.cep form{
    display: flex;
    gap: 5px;
}

@media (min-width: 800px){
    .container{
        flex-direction: row;
        gap: 50px;
    }
    .description{
        width: 20%;
    }
    .image{
        width: 60%;
    }
 
    .priceSizeBuy{
        width: 20%;
    }
}
